# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env

# Database
db.sqlite3

# Static and Media
/static/
/media/

# Google Cloud
key.json
*.json.key
credentials.json
service-account.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml

# System
.DS_Store
.bfg-report/
